*.iml
.idea/
.gradle/
.DS_Store
target/
src-gen/
bin/
.metadata/
.openapi-generator/
**/.settings/org.eclipse.*
bundles/**/src/main/history
features/**/src/main/history
features/**/src/main/feature
*.log
node_modules/
.idea
