# This file helps Github doing automatic review requests for new PRs.
# It should always list the active maintainers of certain add-ons.

# As a fallback, if no specific maintainer is listed below, assign the PR to the repo maintainers team:
*       @openhab/webui-maintainers

# Add-on maintainers:
/bundles/org.openhab.ui.iconset.classic/ @kaikreuzer
/bundles/org.openhab.ui.basic/ @openhab/webui-maintainers
/bundles/org.openhab.ui.habot/ @ghys
/bundles/org.openhab.ui.habpanel/ @ghys
