.localconfig {
  position: absolute;
  top: 64px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 76px);
}

.localconfig .CodeMirror {
  position: absolute;
  top: 130px;
  left: 10px;
  height: calc(100% - 150px);
  width: calc(100% - 20px);
}
