<div class="box-content slider">
    <widget-icon ng-if="vm.widget.backdrop_icon" backdrop="true" iconset="vm.widget.backdrop_iconset" icon="vm.widget.backdrop_icon" center="vm.widget.backdrop_center" state="vm.value"></widget-icon>
    <div ng-class="{ 'slider-content': !vm.widget.vertical, 'slider-content-vertical': vm.widget.vertical }">
        <div class="slider-label" ng-hide="vm.widget.hidelabel">{{vm.widget.name}}</div>
        <div class="slider-container" ng-class="{ bigslider: vm.widget.bigslider }">
            <rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options" data-snap-ignore="true" ng-if="vm.ready"></rzslider>
        </div>
    </div>
</div>
