<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3 translate-keep-content translate="widget.knob.settings.header">Knob Settings</h3>
        </div>

        <div class="modal-body">
            <uib-tabset>
                <uib-tab heading="{{'General' | translation:'widget.common.general'}}">
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                                <label class="control-label col-lg-3 col-md-3" translate>Name</label>
                                <div class="col-lg-9 col-md-9">
                                    <input name="name" type="text" ng-model="form.name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.item.$error && _form.submitted}">
                                <label class="control-label col-lg-3 col-md-3" translate>openHAB Item</label>
                                <div class="col-lg-9 col-md-9">
                                    <item-picker ng-model="form.item"></item-picker>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" ng-class="{error: _form.readOnly.$error && _form.submitted}">
                                    <label class="control-label col-lg-3 col-md-3" translate-keep-content translate="widget.knob.general.readonly">Read only</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="readOnly" ng-model="form.readOnly" /> <span translate-keep-content translate="widget.knob.general.readonly.description">Disable interaction</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.floor.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.common.min">Min</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" step="any" ng-model="form.floor" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.ceil.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.common.max">Max</label>
                                        <div class="col-xs-6">
                                            <input name="max" type="number" step="any" ng-model="form.ceil" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.step.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.common.step">Step</label>
                                        <div class="col-xs-6">
                                            <input name="step" type="number" step="any" ng-model="form.step" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.unit.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.common.unit">Unit</label>
                                        <div class="col-xs-6">
                                            <input name="unit" type="text" ng-model="form.unit" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4 class="col-lg-12 col-md-12"  translate-keep-content translate="widget.knob.general.centraldisplay">Central display</h4>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-1 col-md-1"></label>
                                    <div class="col-lg-11 col-md-11">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="readOnly" ng-model="form.displayInput" /> <span translate-keep-content translate="widget.knob.general.centraldisplay.showvalue">Show value</span>
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="form.displayInput">
                                            <label>
                                                <input type="checkbox" name="readOnly" ng-model="form.subTextEnabled" /> <span translate-keep-content translate="widget.knob.general.centraldisplay.showlabel">Show name (below value)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group" ng-class="{error: _form.format.$error && _form.submitted}">
                                    <label class="col-lg-4 col-md-4" translate-keep-content translate="widget.common.format" style="font-weight: normal">Format</label>
                                    <div class="col-lg-12 col-md-12">
                                        <input name="col" ng-disabled="form.useserverformat" ng-model="form.format" class="form-control" />
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="vertical" ng-model="form.useserverformat" /> <span translate-keep-content translate="widget.common.format.useserverprovided">Use server-provided format if available</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab heading="{{'Bar & Track' | translation:'widget.knob.bartrack'}}">
                    <br />

                    <div class="row">

                        <div class="col-xs-12">
                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.bartrack.angles">Angles (°)</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.startAngle.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.angles.start">Start</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.startAngle" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.endAngle.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.angles.end">End</label>
                                        <div class="col-xs-6">
                                            <input name="max" type="number" ng-model="form.endAngle" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.bartrack.bar">Bar</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.barWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.width">Width</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.barWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.barCap.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.cap">Cap</label>
                                        <div class="col-xs-6">
                                            <input name="max" type="number" ng-model="form.barCap" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.barColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.barColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.bartrack.track">Track</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.trackWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.width">Width</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.trackWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.trackCap.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.bartrack.cap">Cap</label>
                                        <div class="col-xs-6">
                                            <input name="max" type="number" ng-model="form.trackCap" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.trackColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.trackColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.bartrack.previousvalue">Previous value</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="displayPrevious" ng-model="form.displayPrevious" /> <span translate-keep-content translate="widget.knob.bartrack.previousvalue.description">Display previous value when dragging</span>
                                        </label>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.prevBarColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.prevBarColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </uib-tab>

                <uib-tab heading="{{'Scale' | translation:'widget.knob.scale'}}">
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" ng-class="{error: _form.scaleEnabled.$error && _form.submitted}">
                                    <label class="control-label col-lg-3 col-md-3" translate-keep-content translate="widget.knob.scale.display">Display scale</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="readOnly" ng-model="form.scaleEnabled" /> <span translate-keep-content translate="widget.knob.scale.display.enabled">Enabled</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" ng-class="{error: _form.scaleType.$error && _form.submitted}">
                                    <label class="control-label col-lg-3 col-md-3" translate-keep-content translate="widget.knob.scale.type">Scale Type</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" name="scaleTypeLines" ng-model="form.scaleType" value="lines" /> <span translate-keep-content translate="widget.knob.scale.type.lines">Lines</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="scaleTypeDots" ng-model="form.scaleType" value="dots" /> <span translate-keep-content translate="widget.knob.scale.type.dots">Dots</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4">
                                    <div class="form-group" ng-class="{error: _form.scaleWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.scale.width">Width</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.scaleWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group" ng-class="{error: _form.scaleQuantity.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.scale.qty">Qty.</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.scaleQuantity" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group" ng-class="{error: _form.scaleSpaceWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.scale.space">Space</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.scaleSpaceWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.scaleColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.scaleColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'Skin' | translation:'widget.knob.skin'}}">
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" ng-class="{error: _form.skinType.$error && _form.submitted}">
                                    <label class="control-label col-lg-3 col-md-3" translate-keep-content translate="widget.knob.skin.type">Type</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" name="skinTypeSimple" ng-model="form.skinType" value="simple" /> <span translate-keep-content translate="widget.knob.skin.type.simple">Simple</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="skinTypeTron" ng-model="form.skinType" value="tron" /> <span translate-keep-content translate="widget.knob.skin.type.tron">Tron</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.skin.tronsettings">Tron skin settings</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.skinWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.skin.tronsettings.width">Width</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.skinWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.skinSpaceWidth.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate-keep-content translate="widget.knob.skin.tronsettings.space">Space</label>
                                        <div class="col-xs-6">
                                            <input name="min" type="number" ng-model="form.skinSpaceWidth" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.skinColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.skinColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'Ranges' | translation:'widget.knob.ranges'}}">
                    <br />
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group" ng-class="{error: _form.rangesEnabled.$error && _form.submitted}">
                            <div class="col-lg-9 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="enabled" ng-model="form.rangesEnabled" /> <span translate-keep-content translate="widget.knob.ranges.enable">Enable Ranges</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="textColorMatching" ng-model="form.rangesTextColorMatching" /> <span translate-keep-content translate="widget.knob.ranges.match_text_color">Match Text Color to Range</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn" ng-click="addRange()"><i class="glyphicon glyphicon-plus"></i></button>
                    <br /><br />
                    <uib-accordion>
                        <div uib-accordion-group is-open="accordions[$index]" class="panel default" ng-repeat="range in form.ranges">
                            <uib-accordion-heading>
                                <span ng-style="{ 'background-color': range.barColor }" style="border: 1px solid black">&nbsp;&nbsp;&nbsp;</span>
                                &nbsp;
                                {{range.min + ' - ' + range.max  || 'N/A'}}
                            </uib-accordion-heading>
                            <div class="col-lg-12 col-md-12">
                                <button type="button" class="btn pull-right" ng-click="removeRange($index)"><i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" translate-keep-content translate="widget.knob.ranges.from">from</label>
                                        <div class="col-xs-6">
                                            <input name="name" type="number" step="any" ng-model="range.min" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" translate-keep-content translate="widget.knob.ranges.to">to</label>
                                        <div class="col-xs-6">
                                            <input name="name" type="number" step="any" ng-model="range.max" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" translate-keep-content translate="widget.knob.ranges.bar">Bar</label>
                                        <div class="col-xs-6">
                                            <input name="name" type="text" ng-model="range.barColor" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-lg-4 col-md-4">
                                        <div dab-model="range.barColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </uib-tab>

                <uib-tab heading="{{'Misc.' | translation:'widget.knob.misc'}}">
                    <br />
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.misc.text">Text</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="form-group" ng-class="{error: _form.fontSize.$error && _form.submitted}">
                                        <label class="control-label col-xs-4" translate>Font size</label>
                                        <div class="col-xs-6">
                                            <input name="max" type="number" ng-model="form.fontSize" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.textColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.textColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4 class="col-lg-12 col-md-12" translate-keep-content translate="widget.knob.misc.background">Background</h4>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{error: _form.bgColor.$error && _form.submitted}">
                                        <label class="control-label col-lg-2 col-md-2" translate>Color</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div dab-model="form.bgColor" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Doesn't work well
                            <div class="form-group" ng-class="{error: _form.backdrop_icon.$error && _form.submitted}">
                                <label class="control-label col-lg-3 col-md-3">Backdrop Icon</label>
                                <div class="col-lg-9 col-md-9">
                                    <icon-picker iconset="form.backdrop_iconset" icon="form.backdrop_icon"></icon-picker>
                                    <div ng-if="form.backdrop_icon" class="checkbox">
                                        <label>
                                            <input type="checkbox" name="vertical" ng-model="form.backdrop_center" /> Center backdrop horizontally
                                        </label>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
        </div>



        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>&nbsp;<span translate>Delete</span></a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;<span translate>Cancel</span></a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;<span translate>Save</span></button>
        </div>
    </form>
</div>
