<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="ui:ui">
		<parameter-group name="theme">
			<label>Theme</label>
		</parameter-group>
		<parameter-group name="mainColors">
			<label>Main Colors</label>
		</parameter-group>
		<parameter-group name="paletteColors">
			<label>Palette Colors</label>
			<description>Palette colors are used throughtout the UI for charts semantic block background colors, etc. These are
				utilized to ensure a consistent look and feel across the UI.</description>
		</parameter-group>


		<parameter name="themeCssFile" type="text" groupName="theme">
			<label>Theme CSS File</label>
			<description>The path to the css file to use for the theme. This can be one of the default themes or a custom file
				located in the /html directory.</description>
			<limitToOptions>false</limitToOptions>
			<options>
				<option value="/css/theme-vintage.css">Vintage Theme</option>
				<option value="/css/theme-modern.css">Modern Theme</option>
				<option value="/css/theme-coastalblues.css">Coastal Blues Theme</option>
				<option value="/css/theme-starrynight.css">Starry Night Theme</option>
			</options>
			<required>false</required>
		</parameter>

		<parameter name="--oh-logo" type="text" groupName="theme">
			<label>Logo URL</label>
			<description>URL of the logo to be displayed in the Main UI. CSS: var(--oh-logo)</description>
			<required>false</required>
		</parameter>

		<parameter name="--oh-theme-color" type="text" groupName="mainColors">
			<label>Theme Color</label>
			<description>Main theme color. CSS: var(--oh-theme-color)</description>
			<context>color</context>
			<required>false</required>
		</parameter>
		<parameter name="--oh-theme-alt-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Secondary Theme Color</label>
			<description>Secondary theme color. CSS: var(--oh-theme-alt-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-lightmode-text-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Light Text Color</label>
			<description>Text color used in light-mode (and inverse-color used in dark-mode). CSS: var(--oh-lightmode-text-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-darkmode-text-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Dark Text Color</label>
			<description>Text color used in dark-mode (and inverse-color used in light-mode). CSS: var(--oh-darkmode-text-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-lightmode-text-alt-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Light Alt Text Color</label>
			<description>Alternative text color used in light-mode. CSS: var(--oh-lightmode-text-alt-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-darkmode-text-alt-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Dark Alt Text Color</label>
			<description>Alternative text color used in dark-mode. CSS: var(--oh-darkmode-text-alt-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-lightmode-background-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Light Background Color</label>
			<description>Background color used in light-mode. CSS: var(--oh-lightmode-background-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-darkmode-background-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Dark Background Color</label>
			<description>Background color used in dark-mode. CSS: var(--oh-darkmode-background-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-text-alt-color" type="text" groupName="mainColors">
			<context>color</context>
			<label>Secondary Text Color</label>
			<description>Secondary text color. CSS: var(--oh-text-alt-color)</description>
			<required>false</required>
		</parameter>

		<parameter name="--oh-palette-1-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 1</label>
			<description>Palette #1 color. CSS: var(--oh-palette-1-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-2-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 2</label>
			<description>Palette #2 color. CSS: var(--oh-palette-2-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-3-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 3</label>
			<description>Palette #3 color. CSS: var(--oh-palette-3-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-4-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 4</label>
			<description>Palette #4 color. CSS: var(--oh-palette-4-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-5-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 5</label>
			<description>Palette #5 color. CSS: var(--oh-palette-5-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-6-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 6</label>
			<description>Palette #6 color. CSS: var(--oh-palette-6-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-7-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 7</label>
			<description>Palette #7 color. CSS: var(--oh-palette-7-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-8-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 8</label>
			<description>Palette #8 color. CSS: var(--oh-palette-8-color)</description>
			<required>false</required>
		</parameter>
		<parameter name="--oh-palette-9-color" type="text" groupName="paletteColors">
			<context>color</context>
			<label>Palette Color 9</label>
			<description>Palette #9 color. CSS: var(--oh-palette-9-color)</description>
			<required>false</required>
		</parameter>
	</config-description>
</config-description:config-descriptions>
