<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="ui:basic">
		<parameter name="inlineSvg" type="text" required="true">
			<label>Inline SVG</label>
			<description>If enabled, any SVG icon provided by the openHAB icon server will automatically be converted to an
				inline SVG in the WEB page, allowing control of its color with the sitemap widget property "iconcolor" in
				the case
				where the SVG icon sets "currentColor" as the fill color. Note that this will work with custom SVG icons but not
				with all the packaged icons from the classic iconset since they are defined with a hard-coded color palette. This
				feature is disabled by default due to additional non-standard processing required leading to a larger page size and
				because it is unnecessary if you only use Material/framework7/iconify icons or openHAB icons from the classic icon
				set.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="defaultSitemap" type="text" required="false">
			<label>Default Sitemap</label>
			<description>The sitemap to show if no parameter is passed.</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
