<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="ui:basic">
		<parameter name="theme" type="text" required="true">
			<label>Theme</label>
			<description>Defines the UI theme.</description>
			<options>
				<option value="bright">Bright</option>
				<option value="dark">Dark</option>
				<option value="system">Follow System</option>
			</options>
			<default>bright</default>
		</parameter>
		<parameter name="enableIcons" type="text" required="true">
			<label>Enable Icons</label>
			<description>Defines whether UI renders icons for the widgets or not.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>true</default>
		</parameter>
		<parameter name="inlineSvg" type="text" required="true">
			<label>Inline SVG</label>
			<description>If enabled, any SVG icon provided by the openHAB icon server will automatically be converted to an
				inline SVG in the WEB page, allowing control of its color with the sitemap widget property "iconcolor" in
				the case
				where the SVG icon sets "currentColor" as the fill color. Note that this will work with custom SVG icons but not
				with all the packaged icons from the classic iconset since they are defined with a hard-coded color palette. This
				feature is disabled by default.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="enableIconify" type="text">
			<label>Enable Iconify Icons</label>
			<description>If enabled, the UI will render iconify icons directly by downloading them from the Internet and caching
				them in the WEB browser. If disabled, the UI will use the standard method by requesting the server icon proxy and
				assuming iconify icons are installed on the server. Default is disabled.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="condensedLayout" type="text" required="true">
			<label>Condensed Layout</label>
			<description>When enabled, changes the layout so that more widgets can fit on the screen.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="nbColumns" type="text">
			<label>Number Columns</label>
			<description>The number of columns to consider to fill the grid in large screen width (desktop) and medium screen
				width (tablet).</description>
			<options>
				<option value="1-1">1 column on desktop and tablet</option>
				<option value="2-1">2 columns on desktop but only 1 on tablet</option>
				<option value="2-2">2 columns on desktop and tablet</option>
				<option value="3-1">3 columns on desktop but only 1 on tablet</option>
				<option value="3-2">3 columns on desktop but only 2 on tablet</option>
			</options>
			<default>3-2</default>
		</parameter>
		<parameter name="capitalizeValues" type="text" required="true">
			<label>Capitalize Values</label>
			<description>Displays all widget states in uppercase.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="webAudio" type="text" required="true">
			<label>Web Audio</label>
			<description>Play audio sent to the web audio sink.</description>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
			<default>false</default>
		</parameter>
		<parameter name="defaultSitemap" type="text" required="false">
			<label>Default Sitemap</label>
			<description>The sitemap to show if no parameter is passed.</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
