@import 'color-helpers.less';
@import 'theme-default.less'; // reset all colors to default if they aren't specified in the theme

:root {
  --oh-lightmode-text-color: #000000;
  --oh-darkmode-text-color: #ffffff;
  --oh-lightmode-text-alt-color: #013a63;
  --oh-darkmode-text-alt-color: #468faf;
  --oh-lightmode-background-color: #e5f3f7;
  --oh-darkmode-background-color: #012a4a;

  .generate-color-tones(oh-theme-color, #ba728c);
  .generate-color-tones(oh-theme-alt-color, #2196F3);

  .generate-color-tones(oh-palette-1-color, #a9d6e5);
  .generate-color-tones(oh-palette-2-color, #89c2d9);
  .generate-color-tones(oh-palette-3-color, #61a5c2);
  .generate-color-tones(oh-palette-4-color, #468faf);
  .generate-color-tones(oh-palette-5-color, #2c7da0);
  .generate-color-tones(oh-palette-6-color, #2a6f97);
  .generate-color-tones(oh-palette-7-color, #014f86);
  .generate-color-tones(oh-palette-8-color, #01497c);
  .generate-color-tones(oh-palette-9-color, #013a63);

  .generate-color-tones(oh-red-color, #c0392b);
  .generate-color-tones(oh-green-color, #27ae60);
  .generate-color-tones(oh-yellow-color, #ffdd00);
  .generate-color-tones(oh-blue-color, #2980b9);
  .generate-color-tones(oh-orange-color, #ff6f20);
  .generate-color-tones(oh-purple-color, #9400d3);
  .generate-color-tones(oh-pink-color, #ff4081);
  .generate-color-tones(oh-deeppurple-color, #5e4b8a);
  .generate-color-tones(oh-lightblue-color, #2bcbd9);
  .generate-color-tones(oh-teal-color, #008080);
  .generate-color-tones(oh-deeporange-color, #ff6b22);
  .generate-color-tones(oh-lime-color, #cddc39);
  .generate-color-tones(oh-gray-color, #7d7d7d);
  .generate-color-tones(oh-white-color, #ffffff);
  .generate-color-tones(oh-black-color, #000000);
}

:root .dark,
:root.dark {
  .generate-color-tones(oh-palette-1-color, #b4defe);
  .generate-color-tones(oh-palette-2-color, #9ad4fe);
  .generate-color-tones(oh-palette-3-color, #81cafe);
  .generate-color-tones(oh-palette-4-color, #7bc8fe);
  .generate-color-tones(oh-palette-5-color, #68add4);
  .generate-color-tones(oh-palette-6-color, #5fb0d3);
  .generate-color-tones(oh-palette-7-color, #509ab9);
  .generate-color-tones(oh-palette-8-color, #3d819e);
  .generate-color-tones(oh-palette-9-color, #276177);
}
