:root {
    /* Basic HABpanel styles */
    --body-bg: #000;
    --body-color: rgb(100, 127, 147);
    --primary-color: rgb(19, 115, 143);
    --box-bg: rgb(0, 20, 40);
    --header-bg: var(--body-bg);
    /* General widget styles */
    --widget-design-bg: #567;
    --widget-text-color: rgb(112, 140, 157);
    --widget-border-radius: 8px;
    --widget-box-shadow: none;
    /* Icon colors */
    --icon-color-filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%) opacity(0.7);
    --icon-color-off-filter: invert(45%) sepia(80%) hue-rotate(170deg);
    --icon-backdrop-filter: invert(60%) sepia(100%) hue-rotate(165deg) opacity(15%);
    /* Chart widget */
    --chart-stroke: #456;
    --chart-fill: #89a;
    --chart-tooltip: #123;
    --chart-default-theme: "black";
    /* Color picker widget */
    --colorpicker-border: #3960FF;
    --colorpicker-stroke: #456;
    --colorpicker-fill: #89a;
    /* Image widget */
    --image-border: #456;
    /* Switch widget */
    --switch-off-color: #89a;
    /* Slider widget */
    --slider-pointer-color: #234;
    --slider-pointer-bg-color: #def;
    --slider-ceil-color: #def;
    --slider-bubble-bg-color: #123;
    --slider-bubble-border-color: #456;
    --slider-bubble-color: #aaaa77;
}
