<div class="box-content timeline" style="height: 100%">
    <div class="timeline-content" ng-style="{ 'margin-top': vm.widget.name ? '1em' : '0' }" style="height: 100%; padding-left: 10px;">
        <span ng-if="vm.widget.name" style="position: absolute; top: 10px; left: 0; width: 100%;">{{vm.widget.name}}</span>
        <div class="timeline-status" ng-if="item">
            <span class="dates">{{starting_time | date: 'EEE'}} {{starting_time | date: 'medium'}} - {{ending_time | date: 'EEE'}} {{ending_time | date:'medium'}}</span>
            &nbsp; <span ng-style="{'background-color': state_color }">&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp; {{item}} &nbsp;&nbsp; {{state}}
        </div>
    </div>
</div>
