body[data-theme="light"] {
	--primary-color: #3f51b5;
	--header-bg: var(--primary-color);
	--header-text-color: #fff;
	--body-bg: #f5f5f5;
	--container-bg: #fff;
	--container-text-color: #616161;
	--switch-off-track-bg: rgba(0,0,0,.26);
	--switch-on-track-bg: #9fa8da;
	--slider-upper-bg: rgba(0,0,0,.26);
	--state-unknown-color: #616161;
	--border-color: #ccc;
	--radio-unchecked-color: rgba(0,0,0,.5);
	--input-undef-color: rgba(0,0,0,.26);
	--input-icon-filter: invert(0%);
	--button-color: #000000;
}

body[data-theme="dark"] {
	--primary-color: #3f51b5;
	--header-bg: #101010;
	--header-text-color: #c0c0c0;
	--body-bg: #181818;
	--container-bg: #232323;
	--container-text-color: #c0c0c0;
	--switch-off-track-bg: rgba(255,255,255,.26);
	--switch-on-track-bg: #9fa8da;
	--slider-upper-bg: rgba(255,255,255,.26);
	--state-unknown-color: #616161;
	--border-color: #545454;
	--radio-unchecked-color: rgba(255,255,255,.5);
	--input-undef-color: rgba(158,158,158,.26);
	--input-icon-filter: invert(100%);
	--button-color: #e0e0e0;
}

.mdl-layout__header {
	background-color: #3f51b5 !important;
	background-color: var(--header-bg, #3f51b5) !important;
	color: #fff !important;
	color: var(--header-text-color, #fff) !important;
}

body {
	background-color: #f5f5f5 !important;
	background-color: var(--body-bg, #f5f5f5) !important;
}

.mdl-form,
.mdl-radio__group {
	background-color: #fff !important;
	background-color: var(--container-bg, #fff) !important;
	color: #616161 !important;
	color: var(--container-text-color, #616161) !important;
}

.mdl-form__row {
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid var(--border-color, #ccc);
	color: #616161 !important;
	color: var(--container-text-color, #616161) !important;
}

.mdl-form__row--header,
.mdl-form__row--setting {
	border-bottom: none;
}

.mdl-switch .mdl-switch__track {
	background: rgba(0,0,0,.26);
	background: var(--switch-off-track-bg, rgba(0,0,0,.26));
}

.mdl-switch.is-checked .mdl-switch__track {
	background: #9fa8da;
	background: var(--switch-on-track-bg, #9fa8da);
}

.mdl-switch.is-checked .mdl-switch__thumb,
.mdl-switch__ripple-container .mdl-ripple {
	background: #3f51b5;
	background: var(--primary-color, #3f51b5);
}

.mdl-slider__background-upper {
	background: var(--slider-upper-bg, rgba(0,0,0,.26));
}
.mdl-slider.is-upgraded.is-lowest-value::-webkit-slider-thumb {
	border: 2px solid var(--slider-upper-bg, rgba(0,0,0,.26)) !important;
}
.mdl-slider.is-upgraded.is-lowest-value::-moz-range-thumb {
	border: 2px solid var(--slider-upper-bg, rgba(0,0,0,.26)) !important;
}
.mdl-slider.is-upgraded.is-lowest-value::-ms-thumb {
	border: 2px solid var(--slider-upper-bg, rgba(0,0,0,.26)) !important;
}

.mdl-radio__group {
	border: 3px solid #ccc;
	border: 3px solid var(--border-color, #ccc);
}

.mdl-radio__item {
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid var(--border-color, #ccc);
}

.mdl-radio:not(.is-checked) .mdl-radio__outer-circle {
	border-color: rgba(0,0,0,.5);
	border-color: var(--radio-unchecked-color, rgba(0,0,0,.5));
}

.mdl-button {
	color: #000000;
	color: var(--button-color, #000000);
}

.mdl-textfield__input {
	border-bottom: 1px solid var(--border-color, #ccc);
}
.mdl-textfield__label {
	color: var(--input-undef-color, rgba(0,0,0,.26));
}

input::-webkit-calendar-picker-indicator {
	filter: var(--input-icon-filter, invert(0%));
}
