// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

$layout-aside-left-width = 250px

// .q-layout-drawer-left.on-top, .q-layout-drawer-right.on-top
//     box-shadow none !important

// Fix for flickering QPopovers (displayed before being positioned)
// .q-popover.no-wrap.column:not(.animate-popup-down):not(.animate-popup-up)
//     display none

$ios-statusbar-height = 0