.clock {
  display: flex;
  cursor: pointer;
}

.clock-content {
  margin: auto;
  text-align: center;
  width: 100%;
}

.clock-value-right {
  float: right;
  text-align: right;
}

.widget-clock .time {
    font-family: Roboto;
    font-size: 100%;
    margin: auto;
}

