name: Main UI

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/mainui.yml
      - bundles/org.openhab.ui/web/**
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/mainui.yml
      - bundles/org.openhab.ui/web/**
  workflow_dispatch:

defaults:
  run:
    working-directory: bundles/org.openhab.ui/web

env:
  NODE_VERSION: '24.5.0'

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache node modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package.json', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Unit Tests
        run: npm run test:unit

  webpack-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache node modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package.json', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build and generate report
        run: npm run webpack-analyzer-report-stats

      - name: Upload report artifact
        uses: actions/upload-artifact@v4
        with:
          name: webpack-stats
          path: /home/runner/work/openhab-webui/openhab-webui/bundles/org.openhab.ui/web/www/webpack-stats.json

      # Upload bundle stats to use on relative-ci.yaml workflow,
      # pinning to SHA to mitigate possible supply chain attack
      - name: Upload webpack stats artifact to RelativeCI
        uses: relative-ci/agent-upload-artifact-action@a2b5741b4f7e6a989c84ec1a3059696b23c152e5 # v2.0.0
        with:
          webpackStatsFile: ./bundles/org.openhab.ui/web/www/webpack-stats.json
